*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
  font-family: "Bellefair", sans-serif;

  --preto: #0B0D17;
  --azul-pastel: #D0D6F9;
  --branco: #FFFFFF;
}
